.clickHere{
    font-size: 16px;
    font-family: 'Cormorant SC', serif;
}


.pic{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-0%);
    width: 77vh;
    height: auto;
    border-radius:500px;
}

@media all and (max-width: 700px){
    .pic{
        transform: translate(-50%,-25%);
        width: 55vh;
    }
}