.clickHere{
    font-size: 16px;
    font-family: 'Cormorant SC', serif;
}


.pic{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 35vw;
    height: auto;
    border-radius:500px;
}

@media (min-width: 421px) and (max-width: 850px){
    .pic{
        transform: translate(-50%, -10%);
        width: 50vw;
    }
}

@media (min-width:0px) and (max-width: 420px){
    .pic{
        transform: translate(-50%, -100%);
        width:70vw
    }
}